.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 118px;
}

nav { 
    height: 40px;
}
main {
    /*height: 400px;*/
    text-align: center;
}

img {
    max-width: auto;
    height:auto;
}
footer {
    height: 100px;
}

